@font-face {
    font-family: 'commissioner';
    src: url('/public/fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf');
}

:root{
    --font: 'commissioner';
    --closest: 100;
    --closer: 75;
    --close: 50;
    --far: 25;
    --farthest: 0;
}

body{
    min-height: 100vh;
    margin: 0px;
}


*{
    box-sizing: border-box;
    transition: all 0.2s linear;
}